!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= content_for(:title) || "Bloggy"

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.bg-light
    .container.py-5
      .row.justify-content-center
        .col-md-6.col-lg-4
          - if flash[:alert]
            .alert.alert-danger= flash[:alert]
          - if flash[:notice]
            .alert.alert-success= flash[:notice]
          = yield
